---
- name: Проверка, что мы не под root
  ansible.builtin.fail:
    msg: "Не запускайте этот playbook под пользователем root! Используйте обычного пользователя с sudo."
  when: ansible_user_id == 'root'

- name: Разрешить группе wheel использовать pacman без пароля (для yay)
  become: true
  ansible.builtin.copy:
    content: "%wheel ALL=(ALL) NOPASSWD: /usr/bin/pacman"
    dest: /etc/sudoers.d/10-pacman
    mode: '0440'
    validate: /usr/sbin/visudo -cf %s

- name: Установка системных пакетов (pacman)
  become: true
  community.general.pacman:
    name: "{{ system_packages }}"
    state: present
    update_cache: yes

- name: Удаление старой версии starship из /usr/local/bin (если есть)
  become: true
  ansible.builtin.file:
    path: /usr/local/bin/starship
    state: absent

- name: Проверка наличия yay
  ansible.builtin.command: which yay
  register: yay_check
  failed_when: false
  changed_when: false

- name: Установка yay-bin (AUR helper)
  block:
    - name: Удаление временной папки yay-bin
      ansible.builtin.file:
        path: /tmp/yay-bin
        state: absent

    - name: Клонирование репозитория yay-bin
      ansible.builtin.git:
        repo: https://aur.archlinux.org/yay-bin.git
        dest: /tmp/yay-bin
      become: false

    - name: Сборка yay-bin
      ansible.builtin.command: makepkg -s --noconfirm
      args:
        chdir: /tmp/yay-bin
      become: false
      changed_when: true

    - name: Установка yay-bin через pacman
      ansible.builtin.shell: pacman -U --noconfirm yay-bin-*.pkg.tar.zst
      args:
        chdir: /tmp/yay-bin
      become: true
      changed_when: true

    - name: Удаление временной папки yay-bin после установки
      ansible.builtin.file:
        path: /tmp/yay-bin
        state: absent
  when: yay_check.rc != 0

- name: Установка AUR пакетов
  ansible.builtin.command: "yay -S --noconfirm --needed {{ aur_packages | join(' ') }}"
  register: aur_install
  become: false
  changed_when: "'Installing' in aur_install.stdout or 'Upgrading' in aur_install.stdout or 'Установка' in aur_install.stdout"
  when: aur_packages | length > 0
  failed_when:
    - aur_install.rc != 0
    - "'nothing to do' not in aur_install.stdout and 'nothing to do' not in aur_install.stderr"
    - "'ничего не нужно делать' not in aur_install.stdout and 'ничего не нужно делать' not in aur_install.stderr"
