---
- name: Проверка, что мы не под root
  ansible.builtin.fail:
    msg: "Не запускайте этот playbook под пользователем root! Используйте обычного пользователя с sudo."
  when: ansible_user_id == 'root'

- name: Установка системных пакетов (pacman)
  become: true
  community.general.pacman:
    name: "{{ system_packages }}"
    state: present
    update_cache: true

- name: Удаление старой версии starship из /usr/local/bin (если есть)
  become: true
  ansible.builtin.file:
    path: /usr/local/bin/starship
    state: absent

- name: Проверка наличия yay
  ansible.builtin.command: which yay
  register: packages_yay_check
  failed_when: false
  changed_when: false

- name: Установка yay-bin (AUR helper)
  when: packages_yay_check.rc != 0
  block:
    - name: Установка зависимостей для сборки yay
      become: true
      community.general.pacman:
        name:
          - git
          - base-devel
        state: present

    - name: Клонирование репозитория yay-bin
      ansible.builtin.git:
        repo: https://aur.archlinux.org/yay-bin.git
        dest: /tmp/yay-bin
        version: master

    - name: Сборка yay-bin
      ansible.builtin.command: makepkg -f --noconfirm
      args:
        chdir: /tmp/yay-bin
      changed_when: true

    - name: Поиск собранного пакета yay-bin
      ansible.builtin.find:
        paths: /tmp/yay-bin
        patterns: "yay-bin-*.pkg.tar.zst"
      register: yay_package_file

    - name: Установка yay-bin (pacman -U)
      become: true
      ansible.builtin.command: "pacman -U --noconfirm {{ yay_package_file.files[0].path }}"
      when: yay_package_file.matched > 0

    - name: Очистка временной директории
      ansible.builtin.file:
        path: /tmp/yay-bin
        state: absent

- name: Установка AUR пакетов
  kewlfft.aur.aur:
    name: "{{ aur_packages }}"
    use: yay
    state: present
  become: false
  when: aur_packages is defined and aur_packages | length > 0
