---
- name: Установка системных пакетов (pacman)
  become: true
  pacman:
    name: "{{ system_packages }}"
    state: present
    update_cache: yes

- name: Проверка наличия yay
  command: which yay
  register: yay_check
  ignore_errors: true
  changed_when: false

- name: Клонирование репозитория yay-bin
  git:
    repo: https://aur.archlinux.org/yay-bin.git
    dest: /tmp/yay-bin
  when: yay_check.rc != 0

- name: Сборка yay-bin
  shell: cd /tmp/yay-bin && makepkg -s --noconfirm
  become: false
  when: yay_check.rc != 0

- name: Поиск собранного пакета yay
  find:
    paths: /tmp/yay-bin
    patterns: "yay-bin-*.pkg.tar.zst"
  register: yay_package_file
  when: yay_check.rc != 0

- name: Установка yay-bin
  pacman:
    name: "{{ yay_package_file.files[0].path }}"
    state: present
  become: true
  when: yay_check.rc != 0

- name: Удаление временной папки yay-bin
  file:
    path: /tmp/yay-bin
    state: absent
  when: yay_check.rc != 0

- name: Установка AUR пакетов (yay)
  shell: "yay -S --noconfirm --needed {{ aur_packages | join(' ') }}"
  register: aur_install
  changed_when: "'Installing' in aur_install.stdout or 'Upgrading' in aur_install.stdout"
  when: aur_packages | length > 0
  failed_when:
    - aur_install.rc != 0
    - "'nothing to do' not in aur_install.stderr"