---
- name: Проверка, что мы не под root
  ansible.builtin.fail:
    msg: "Не запускайте этот playbook под пользователем root! Используйте обычного пользователя с sudo."
  when: ansible_user_id == 'root'

- name: Установка системных пакетов (pacman)
  become: true
  community.general.pacman:
    name: "{{ system_packages }}"
    state: present
    update_cache: true

- name: Удаление старой версии starship из /usr/local/bin (если есть)
  become: true
  ansible.builtin.file:
    path: /usr/local/bin/starship
    state: absent

- name: Проверка наличия yay
  ansible.builtin.shell: command -v yay
  register: packages_yay_check
  failed_when: false
  changed_when: false

- name: Установка yay-bin (AUR helper)
  when: packages_yay_check.rc != 0
  block:
    - name: Удаление старой директории сборки yay
      become: true
      ansible.builtin.file:
        path: /tmp/yay-bin
        state: absent

    - name: Установка зависимостей для сборки yay
      become: true
      community.general.pacman:
        name:
          - git
          - base-devel
        state: present

    - name: Клонирование репозитория yay-bin
      ansible.builtin.git:
        repo: https://aur.archlinux.org/yay-bin.git
        dest: /tmp/yay-bin
        version: master

    - name: Сборка yay-bin
      ansible.builtin.command: makepkg -si --noconfirm
      args:
        chdir: /tmp/yay-bin
      changed_when: true
      # makepkg -si сам установит пакет через sudo (если настроено) или потребует пароль.
      # Но в Ansible лучше собрать и установить через pacman -U для контроля.

    - name: Поиск собранного пакета yay-bin
      ansible.builtin.find:
        paths: /tmp/yay-bin
        patterns: "yay-bin-*.pkg.tar.*"
      register: yay_package_file

    - name: Установка yay-bin (pacman -U)
      become: true
      ansible.builtin.command: "pacman -U --noconfirm {{ item.path }}"
      with_items: "{{ yay_package_file.files }}"
      when: yay_package_file.matched > 0

    - name: Очистка временной директории
      ansible.builtin.file:
        path: /tmp/yay-bin
        state: absent

    - name: Финальная проверка наличия yay
      ansible.builtin.shell: command -v yay
      register: final_yay_check
      failed_when: final_yay_check.rc != 0

- name: Сброс SSH соединения для обновления переменных окружения
  ansible.builtin.meta: reset_connection

- name: Перезагрузка фактов (чтобы найти yay)
  ansible.builtin.setup:

- name: Установка AUR пакетов
  kewlfft.aur.aur:
    name: "{{ aur_packages }}"
    use: yay
    state: present
  become: false
  environment:
    PATH: "/usr/bin:/usr/local/bin:{{ ansible_env.PATH }}"
  when: aur_packages is defined and aur_packages | length > 0
