[Unit]
Description=Run check-updates.service every hour

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Unit=check-updates.service

[Install]
WantedBy=timers.target
