---
- name: Смена оболочки пользователя на fish
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/fish

- name: Создание Python виртуального окружения
  ansible.builtin.pip:
    name:
      - pip
      - setuptools
      - wheel
    virtualenv: "{{ ansible_facts['user_dir'] }}/.python_venv"
    virtualenv_command: python3 -m venv

- name: Создание директории памяти Gemini
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.gemini/memory"
    state: directory
    mode: "0700"

- name: Настройка директории .ssh
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.ssh"
    state: directory
    mode: "0700"

- name: Установка pre-commit хуков
  ansible.builtin.command: "pre-commit install"
  args:
    chdir: "{{ playbook_dir }}/../.."
  become: false
  register: pre_commit_result
  changed_when: "'pre-commit installed' in pre_commit_result.stdout"
