---
- name: Смена оболочки пользователя на fish
  become: true
  user:
    name: "{{ ansible_facts['user_id'] }}"
    shell: /usr/bin/fish

- name: Создание Python виртуального окружения
  pip:
    name:
      - pip
      - setuptools
      - wheel
    virtualenv: "{{ ansible_facts['user_dir'] }}/.python_venv"
    virtualenv_command: python3 -m venv

- name: Создание директории памяти Gemini
  file:
    path: "{{ ansible_facts['user_dir'] }}/.gemini/memory"
    state: directory
    mode: '0700'

- name: Настройка директории .ssh
  file:
    path: "{{ ansible_facts['user_dir'] }}/.ssh"
    state: directory
    mode: '0700'

- name: Проверка наличия SSH ключа
  stat:
    path: "{{ ansible_facts['user_dir'] }}/.ssh/id_ed25519"
  register: ssh_key_file

- name: Восстановление SSH ключа из Bitwarden
  shell: "bw get notes 'id_ed25519' > '{{ ansible_facts['user_dir'] }}/.ssh/id_ed25519'"
  when: not ssh_key_file.stat.exists
  ignore_errors: yes
  no_log: true

- name: Настройка прав приватного SSH ключа
  file:
    path: "{{ ansible_facts['user_dir'] }}/.ssh/id_ed25519"
    mode: '0600'
  ignore_errors: yes

- name: Добавление GitHub в known_hosts
  known_hosts:
    name: github.com
    key: "{{ lookup('pipe', 'ssh-keyscan -t ed25519 github.com') }}"
    path: "{{ ansible_facts['user_dir'] }}/.ssh/known_hosts"
    state: present
  ignore_errors: yes

- name: Клонирование репозитория pass (только если отсутствует)
  shell: |
    export GIT_SSH_COMMAND='ssh -i {{ ansible_facts['user_dir'] }}/.ssh/id_ed25519 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
    git clone git@github.com:napalm1970/pass.git "{{ ansible_facts['user_dir'] }}/.password-store"
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.password-store"
  ignore_errors: yes

- name: Установка pre-commit хуков
  shell: "pre-commit install"
  args:
    chdir: "{{ playbook_dir }}/../.."
  become: false
  ignore_errors: yes

 # Может не сработать, если нет SSH ключей
