---
- name: Создание директории ~/.config
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config"
    state: directory
    mode: '0755'

- name: Получение информации о существующих путях dotfiles
  stat:
    path: "{{ ansible_facts['user_dir'] }}/{{ item.dest }}"
  loop: "{{ dotfiles_links }}"
  register: dotfiles_stats

- name: Удаление существующих директорий перед созданием симлинков
  file:
    path: "{{ item.stat.path }}"
    state: absent
  loop: "{{ dotfiles_stats.results }}"
  when: 
    - item.stat.exists
    - item.stat.isdir
    - not item.stat.islnk
  # Удаляем только если это реальная директория, а не симлинк

- name: Создание симлинков для dotfiles
  file:
    src: "{{ dotfiles_repo_path }}/{{ item.src }}"
    dest: "{{ ansible_facts['user_dir'] }}/{{ item.dest }}"
    state: link
    force: yes
  loop: "{{ dotfiles_links }}"
  become: false

- name: Исправление прав доступа для aerc/accounts.conf
  file:
    path: "{{ dotfiles_repo_path }}/aerc/accounts.conf"
    mode: '0600'
  become: false
