---
- name: Создание директории ~/.config
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config"
    state: directory
    mode: '0755'

- name: Получение информации о существующих путях dotfiles
  ansible.builtin.stat:
    path: "{{ ansible_facts['user_dir'] }}/{{ item.dest }}"
  loop: "{{ dotfiles_links }}"
  register: dotfiles_stats

- name: Резервное копирование существующих директорий (добавление .bak)
  ansible.builtin.command: "mv {{ item.stat.path }} {{ item.stat.path }}.bak.{{ ansible_date_time.iso8601 }}"
  loop: "{{ dotfiles_stats.results }}"
  when:
    - item.stat.exists
    - item.stat.isdir
    - not item.stat.islnk
  args:
    removes: "{{ item.stat.path }}"

- name: Создание симлинков для dotfiles
  ansible.builtin.file:
    src: "{{ dotfiles_repo_path }}/{{ item.src }}"
    dest: "{{ ansible_facts['user_dir'] }}/{{ item.dest }}"
    state: link
    force: yes
  loop: "{{ dotfiles_links }}"
  become: false

- name: Исправление прав доступа для aerc/accounts.conf
  ansible.builtin.file:
    path: "{{ dotfiles_repo_path }}/aerc/accounts.conf"
    mode: '0600'
  become: false
