---
- name: Полная настройка системы Arch Linux
  hosts: localhost

  roles:
    - packages  # Установка софта
    - system    # Системные конфиги (SDDM, NPM)
    - user      # Пользовательские настройки (Shell, Venv, Pass)
    - dotfiles  # Симлинки конфигов

  tasks:
    - name: Извлечение секретов из Bitwarden (SSH, GPG, Pass)
      ansible.builtin.script: ../../scripts/bitwarden-extract-ssh.fish
      args:
        executable: fish
      environment:
        BW_PASSWORD: "{{ bitwarden_password | default('') }}"
