---
- name: Полная настройка системы Arch Linux
  hosts: localhost

  roles:
    - packages  # Установка софта
    - system    # Системные конфиги (SDDM, NPM)
    - user      # Пользовательские настройки (Shell, Venv, Pass)
    - dotfiles  # Симлинки конфигов
