window {
  margin: 0px;
  border: 1px solid #88c0d0;
  background-color: #2e3440;
  opacity: 0.5;
  font-family: 'FiraCode Nerd Font';
  font-size: 9px;
  border-radius: 25px
}

#input {
  margin: 5px;
  border: none;
  color: #d8dee9;
  background-color: #3b4252;
  border-radius: 25px
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #d8dee9;
}

#entry:selected {
  background-color: #3b4252;
}
